<div class="form_outer_div">
    <form>
        <div class="form_div">
            <div>
                <h3>Login Form</h3>
            </div>
            <br />
            <div>
                <label>Username:</label>

                <input class="inputval" type="text">
            </div>
            <br />
            <div>
                <label>Password:</label><br />

                <input class="inputval" type="password">
            </div>
            <br /><br />
            <div>
                <button> Submit </button>
            </div>
        </div>
    </form>
</div>